data/
Masterarbeit - Latex/Figures/tex-tikz-figures - examples/
node_modules/
simulation/bufferfiles/simulated_tagged_tree.tre
simulation/bufferfiles/simulated_tree.tre
simulation/evaluation/
simulation/non_binary_simulation/metadata.csv
simulation/output.csv
simulation/likelihoods.csv

*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.pyc
*.synctex.gz
