data/
Masterarbeit - Latex/Figures/tex-tikz-figures - examples/
node_modules/

*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.pyc
*.synctex.gz

.vscode/settings.json
simulation/non_binary_simulation/metadata.csv
