code/bufferfiles/*

code/simulation/evaluation/
code/simulation/non_binary_simulation/metadata.csv
code/simulation/output.csv
code/simulation/likelihoods.csv

data/GloBI_Dump/*
data/interaction_data/*
data/nodelist/*
data/opentree3.1_taxonomic_tree/*
data/opentree9.1_tree/*
data/subtree/*

Masterarbeit - Latex/Figures/tex-tikz-figures - examples/
node_modules/
scripts/R/Rplots.pdf

results/

*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.pyc
*.synctex.gz

!.gitkeep
